*{
    margin: 0;
    padding: 0;
    background-color: #F5F8FF;
}

/* fonts */

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.noto-serif-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* navbar */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    height: 75px;
    width: 1600px;
    margin: 30px auto;  
}

nav img{
    height: 90px;
    width: 140px;
}
.navItems ul{
    display: flex;
    gap: 70px;
}
.navItems li{
    list-style: none;
    justify-content: center;   
}

.navItems li:nth-child(1){
    font-size: 16px;
    font-weight: 700;
    color: #252432;
}

.navItems li:nth-child(4){
    font-size: 16px;
    font-weight: 400;
    color: #252432;
}

.navItems li:nth-child(2), li:nth-child(3) {
    font-size: 16px;
    font-weight: 400;
    color: #8987A1;
}

/* banner */
.banner{
    display: flex;
    height: 500px;
    width: 1600px;
    margin: 0 auto;
    justify-content: space-between;
    
}
.banner .title{
    width: 600px;
    bottom: 0;
    align-self: flex-end;
}

.title h1{
    font-weight: 700;
    font-size: 65px;
    
}

.title h1 span{
    color: #E95A08;
}
.title p{
    color: rgba(0, 0, 0, 0.5);
    font-size: 22px;
    font-weight: 400;
}

.banner img{
    width: 700px;
    height: 400px;
    align-self: flex-end;
}