*{
    margin: 0;
    padding: 0;
    background-color: #F5F8FF;
}

/* fonts */

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.noto-serif-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* commons */

.btn{
    background-color: #E95A08;
    color: white;
    font-size: 16px;
    font-weight: 600;
    height: 50px;
    border: #E95A08;
}

.no-bg{
    background: none;
}

/* navbar */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    height: 75px;
    width: 1600px;
    margin: 30px auto;  
}

nav img{
    height: 90px;
    width: 140px;
}
.navItems ul{
    display: flex;
    gap: 70px;
}
.navItems li{
    list-style: none;
    justify-content: center;   
}

.navItems li:nth-child(1){
    font-size: 16px;
    font-weight: 700;
    color: #252432;
}

.navItems li:nth-child(4){
    font-size: 16px;
    font-weight: 400;
    color: #252432;
}

.navItems li:nth-child(2), li:nth-child(3) {
    font-size: 16px;
    font-weight: 400;
    color: #8987A1;
}

/* banner */

.banner{
    display: flex;
    height: 500px;
    width: 1600px;
    margin: 130px auto 200px auto;
    justify-content: space-between;
    
    
}
.banner .title{
    width: 600px;
    bottom: 0;
    align-self: flex-end;
}

.title h1{
    font-weight: 700;
    font-size: 65px;
    
}

.title h1 span{
    color: #E95A08;
}
.title p{
    color: rgba(0, 0, 0, 0.5);
    font-size: 22px;
    font-weight: 400;
}

.banner img{
    width: 700px;
    height: 400px;
    align-self: flex-end;
}

/* plants section */

.plants{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 120px;
    width: 1600px;
    margin: 0 auto;
}

.plants h2{
    font-size: 50px;
    font-weight: 700;
    padding-bottom: 15px;
}

.plants h2 span{
    color: #E95A08;
}
.plants p{
    color: rgba(0, 0, 0, 0.5);
    font-size: 22px;
    font-weight: 400;
    width: 888px;
    text-align: center;
    padding-bottom: 20px;
}

/* cards */

.cards{
    display: grid;
    width: 1600px;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(2, auto);
    gap: 20px; 
    row-gap: 30px;
    margin: 0 auto;
}
.container img{
    width: 100%;
    height: 450px;
}
.container p{
    width: 100%;
    font-size: 22px;
    font-weight: 500;
    color: #111111;
    padding-bottom: 20px;
}
.container h3{
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
    font-size: 22px;
    font-weight: 700;
    color: #111111;
}

.container button{
    margin-bottom: 30px;
    width: 100%;
}


/* flower and plants section */

.fnp{
    display: flex;
    width: 1600px;
    height: auto;
    margin: 210px;
    align-items: center;
    gap: 150px;
    
}
.images{
    position: relative;
    
}

.images #badge{
    height: 286px;
    width: 286px;
    position: absolute;
    top: 0; 
    right: 0; 
    transform: translate(50%, -50%); 
    background: none;
    
}

.images #store{
    height: 800px;
    width: 760px;
}

.pros{
    width: 500px;
    height: 700px;
    padding-top: 150px;
}
 .pros h2{
    font-size: 50px;
    font-weight: 700;
    padding-bottom: 20px;
 }

 .pros li{
    font-size: 22px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
    padding-bottom: 20px;

 }

 /* deals */
 .deals{
    margin: 0 auto;
    height: 150px;
    width: 1600px;
    text-align: center;
 }
 .deals h2{
    font-size: 50px;
    font-weight: 700;
    padding-bottom: 16px;
 }
 .deals span{
    color: #E95A08;
 }

 .deals p{
    font-size: 22px;
    font-weight: 400;
    width: 1000px;
    margin: 0 auto;
    color: rgba(0, 0, 0, 0.5);
 }

 /* deals with bg */
 .deals-bg{
    display: flex;
    width: 1600px;
    height: 500px;
    margin:0 auto;
    justify-content: center;
    gap: 30px;
    margin-top: 120px;
    margin-bottom:50px;
 }

 .deals-bg .left{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 570px;
    
 }

 .left .bloom{
    width: 100%;
    height: 240px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./assets/deal-bloom.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    text-align: center;
    color: white;
    border-radius: 22px;
 }

 .left .ana{
    width: 100%;
    height: 240px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./assets/deal-ana.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    text-align: center;
    color: white;
    border-radius: 22px;
    
 }

 .deals-bg .right{
    width: 1000px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./assets/deal-zabo.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    text-align: center;
    color: white;
    border-radius: 22px;
 }

 .left h3{
    font-size: 20px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.95);
    padding-bottom: 20px;
 }

 
 .right h3{
    font-size: 40px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.95);
    padding-bottom: 20px;
 }

 .left p{
    font-size: 16px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.95);
    padding-bottom: 20px;
    text-decoration: underline;
 }

  .right p{
    font-size: 28px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.95);
    padding-bottom: 20px;
    text-decoration: underline;
 }

 /* join section */
 .join{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("./assets/news-letter-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }

 .join h2{
    font-size: 50px;
    font-weight: 700;
    color: white;
    padding-bottom: 20px;
 }

 .input{
    display: flex;
    width: 900px;
    height: 50px;
 }

 .input input{
    width: 700px;
    height: 50px;
    font-size: 16px;
    padding-left: 10px;
    color: rgba(0, 0, 0, 0.5);
    border: rgba(0, 0, 0, 0.4);
 }

.input button{
    width: 200px;
    height: 50px;
    border: rgba(0, 0, 0, 0.4);
 }

 /* footer seaction */
 footer{
    display: flex;
    width: 100%;
    height: 300px;
    justify-content: space-around;
    align-items: center;
    
 }
.para{
    width: 350px;
    margin-left: 100px;
}
 .para p{
    padding-top: 20px;
    font-size: 22px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
 }
 .lists{
    display: flex;
 }

 .lists li{
    margin-top: 30px;
    margin-right: 100px;
    margin-bottom: 25px;
    list-style: none;
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
 }

 .logos{
    width: 400px;
    display: flex;
    gap:50px;
    padding-bottom: 170px;
    align-items: center;
 }

 .logos img:nth-child(2) {
    width: 20px;
    height: 18px;
}